* {
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 36px;
}

.App-header  a, .App-header  a:visited {
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.fold {
  display: flex;
}

form {
  background-color: white;
  max-height: 300px;
  z-index: 100;
  position: relative;
  padding: 10px;
}

section {
  flex: 1 0 0;
  padding: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:#0000006b;
  display: flex;
  justify-content: center;
}

main {
  /* width: 100%; */
  flex: 2 0 0;
  padding: 10px;
}