ul, li {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.sidebar__, li {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    padding: 0;
    height: 100%;
}

.sidebar__:last-child {
    padding: 20px 0;
}

.sidebar__  a {
    display: block;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.sidebar__ > .active {
    background-color: black;
    color: white;
}